@import "../../App.scss";

.productsLists {
  margin: 0px 187px 100px 189px;
  padding-top: 10px;
  padding-bottom: 10px;
  @include flexcol;

  h1 {
    text-transform: capitalize;
    margin-bottom: 40px;
    font-size: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .mainBlock {
    @include flexcol;
    width: 100%;
    flex-wrap: wrap;
    .search {
      width: 75%;
      margin-bottom: 82px;
      border: solid;
      border-radius: 25px;
      border-color: #4741a6;
      input {
        width: 100%;
        padding: 15px 20px;
        font-size: 20px;
        background-color: transparent;
      }
    }
    .upwards {
      @include flexrow;
      flex: 1 1;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      .insideBlock {
        @include flexcol;
        padding: 10px;
        .image {
          @include flexcol;
          padding: 20px 0;
          background-color: #d9eff7;
          border-radius: 20px;
          img {
            width: 220px;
            height: 139px;
          }
        }
        .content {
          @include flexcol;
          align-items: flex-start;
          width: 100%;
          padding-top: 1rem;
          h3 {
            font-size: 30px;
            text-transform: capitalize;
            text-align: start;
          }
          p {
            margin: 3px 0;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

//For small devices
@media screen and (max-width: 515px) {
  .productsLists {
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    h1 {
      display: flex;
      justify-content: flex-start;
    }
    .mainBlock {
      .upwards {
        justify-content: center;
        .content {
          align-items: center;
        }
      }
    }
  }
}

//for medium devices
@media screen and (max-width: 850px) {
  .productsLists {
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    h1 {
      display: flex;
      justify-content: center;
    }
  }
}
